<p><h2>Contest scores</h2></p>
<%= link_to 'Contest', user_contest_path(contest) %>

<% unless user_scores.blank? %>
  <table class="table table-bordered" id="contest-scores">
    <thead>
      <tr>
        <th>User</th>
        <% contest.problems.desc_rank.each do |problem| %>
          <th><%= problem.name_for current_user %></th>
        <% end %>
        <th>Total score</th>
      </tr>
    </thead>
    <tbody>
      <% user_scores.each do |user_score| %>
        <tr>
          <td>
            <%= user_score.user.email %>
          </td>
          <% contest.problems.desc_rank.each do |problem| %>
            <td style="text-align:center;width:10%;">
              <% received_point = user_score.user.submissions.of_problem(problem).accepted.maximum :received_point %>
                <center>
                  <div>
                  <% if received_point %>
                    <button class="btn btn-block btn-<%= received_point > 0 ? "success" : "inverse" %>"><%= contest.show_point_on_view? ? received_point : '???' %></button>
                  <% end %>
                  </div>
                </center>
            </td>
          <% end %>
          <td>
            <center>
              <div>
                <button class="btn btn-block btn-danger"><%= contest.show_point_on_view? ? user_score.point : '???' %></button>
              </div>
            </center>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if !contest.show_point_on_view? %>
  <strong>Note: Total scores isn't sorted.</strong>
  <% end %>

  <%= paginate user_scores %>
<% end %>
