<% if @contest.started? %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Starting point</th>
        <th>Wrong answer decreased point</th>
        <th>Slowly decreased interval (seconds)</th>
        <th>Number of test cases</th>
        <th>Limited time (ms)</th>
        <th>Limited memory (KB)</th>
        <th>Limited source size (bytes)</th>
      </tr>
    </thead>
    <tbody>
      <% problems.each do |problem| %>
        <tr class="<%= (current_user.try :solved?, problem) ? 'success' : '' %>">
          <td>
            <%= link_to user_contest_problem_path(@contest, problem) do %>
              <%= problem.name_for current_user %>
            <% end %>
            <% if current_user.try :solved?, problem %>
              <p>Solved!</p>
            <% end %>
          </td>
          <td>
            <%= problem.difficult %>
          </td>
          <td>
            <%= problem.starting_point %>
          </td>
          <td>
            <%= problem.wrong_answer_decreased_point %>
          </td>
          <td>
            <%= problem.slowly_decreased_interval %>
          </td>
          <td>
            <%= problem.test_cases.count %>
          </td>
          <td>
            <%= problem.limited_time %>
          </td>
          <td>
            <%= problem.limited_memory %>
          </td>
          <td>
            <%= problem.limited_source_size %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate problems %>
<% end %>
