<h1 style = "text-align: center"><%= image_tag("terminal.png", width: "100px")%>   All Contests</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name (Number of submissons)</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td>
          <%= link_to user_contest_path(contest) do %>
            <%= truncate(contest.name, length: 30) %> <span class='badge'><%= contest.submissions.count %></span>
          <% end %>
          <%= link_to 'Contest scores', user_contest_user_scores_path(contest), class: "btn btn-success", style: "float: right" %>
        </td>
        <td>
          <%= contest.description %>
        </td>
        <td>
<% if contest.ended? %>
  <span class="label label-default">::: ENDED :::</span>
<% else %>
  <span class="label label-success">!!! ON AIR !!!</span>
<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @contests %>
