<h1>Contests</h1>

<table border='1'>
  <th>Name</th>
  <th>Description</th>
  <th>Start at</th>
  <th>End at</th>
  <th>Result announced at</th>
  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td>
          <%= link_to user_contest_path(contest) do %>
            <h3><%= contest.name %></h3>
          <% end %>
        </td>
        <td>
          <%= contest.description %>
        </td>
        <td>
          <%= contest.start_at %>
        </td>
        <td>
          <%= contest.end_at %>
        </td>
        <td>
          <%= contest.result_announced_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @contests %>
