<h1>All Contests</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Result announced</th>
      <th>Scores</th>
    </tr>
  </thead>
  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td>
          <%= link_to user_contest_path(contest) do %>
            <%= contest.name %>
          <% end %>
        </td>
        <td>
          <%= contest.description %>
        </td>
        <td>
          <%= local_time contest.start_at %>
        </td>
        <td>
          <%= local_time contest.end_at %>
        </td>
        <td>
          <%= local_time contest.result_announced_at %>
        </td>
        <td>
          <%= link_to 'Contest scores', user_contest_user_scores_path(contest) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @contests %>
