<h3><%= @contest.name %></h3>
<p>
  <%= link_to 'Contest scores', user_contest_user_scores_path(@contest), class: 'btn btn-large btn-success' %>
</p>
<p>
  <b>Description: </b><%= @contest.description %><br/>
  <b>Start at: </b><%= local_time @contest.start_at %><br/>
  <b>End at: </b><%= local_time @contest.end_at %><br/>
  <b>Result announced at: </b><%= local_time @contest.result_announced_at %>
</p>
<%= render 'problems', problems: @problems %>
