<div>
  <p><h1><%= @contest.name %></h1></p>
  <p><b>Description: </b><%= @contest.description %></p>
  <p><b>Start at: </b><%= @contest.start_at %></p>
  <p><b>End at: </b><%= @contest.end_at %></p>
  <p><b>Result announced at: </b><%= @contest.result_announced_at %></p>
</div>

<p><%= link_to :contests, contests_path %></p>

<%= render 'problems', problems: @problems %>
