<div>
  <%= form_for @submission do |f| %>
    <%= f.hidden_field :problem_id, value: @problem.id %>
    <p><label>Language</label><%= f.select :language, options_for_select(accepted_languages, @submission.language) %></p>
    <p><label>Choose file</label><%= f.file_field :attached_file %></p>

    <%= f.submit %>
  <% end %>
</div>
