<%= stylesheet_link_tag "admin/admins/index" %>
<section id="admins-index" class="row-fluid">
  <h1 class="page-title"><%= t ".title" %></h1>
  <div class="actions">
    <%= link_to t(".add"), new_admin_admin_path, class: :btn %>
    <%= link_to t(".filter"), "#", class: %w(btn search-form-toggle), "data-target" => "search-form" %>
  </div>
  <%= search_form_for @q, url: admin_admins_path, method: :get,
    html: {id: "search-form", class: "search-form #{@q.conditions.empty? ? "" : "show"}"} do |f| %>
    <div class="row-fluid search-row">
      <div class="span4 search-col">
        <%= f.label :name_cont %>
        <%= f.text_field :name_cont %>
      </div>
      <div class="span4 search-col">
        <%= f.label :email_cont %>
        <%= f.text_field :email_cont %>
      </div>
    </div>
    <div class="row-fluid search-row">
      <div class="span12 search-col">
        <%= f.submit t(".search"), class: :btn %>
      </div>
    </div>
  <% end %>
  <table class="table table-bordered table-striped">
    <tr>
      <th><%= Admin.h :name %></th>
      <th><%= Admin.h :email %></th>
      <th><%= Admin.h :created_at %></th>
      <th><%= Admin.h :updated_at %></th>
      <th></th>
      <th></th>
    </tr>
<% @admins.each do |admin| -%>
    <tr>
      <td><%= link_to "#{admin.name}", admin_admin_path(admin) %></td>
      <td><%= mail_to admin.email, admin.email %></td>
      <td><%= admin.created_at %></td>
      <td><%= admin.updated_at %></td>
      <td><%= link_to t(".edit"), edit_admin_admin_path(admin) %></td>
      <td><%= link_to t(".destroy"), admin_admin_path(admin), method: :delete, data: {confirm: t("confirmation.delete")} %></td>
    </tr>
<% end -%>
  </table>
</section>