<div>
  <%= form_for @submission, url: :user_submissions, class: "form-inline" do |f| %>
    <%= f.hidden_field :problem_id, value: @problem.id %>
    <p><label>Language</label><%= f.select :language, options_for_select(accepted_languages, @submission.language) %></p>
    <p><%= f.file_field :attached_file %></p>

    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
