<div class="row-fluid">
  <div class="span12">
    <div>
      <h5>By <%= @submission.user.email %>, contest: <%= link_to @submission.problem.contest.name, user_contest_path(@submission.problem.contest) %>, problem: <%= link_to @submission.problem.name, user_contest_problem_path(@submission.problem.contest, @submission.problem) %>, <%= @submission.result_status %>, last passed test case: <%= @submission.last_passed_test_case %><h5>
    </div>
    <?prettify?>
    <pre class="prettyprint linenums"><%= @submission.source_code %></pre>
  </div>
</div>

<% if @submission.result_announced?(current_user) && !@submission.accepted? %>
  <div>
    <h4 style="color:red;">Failed!!!<h5>
  </div>

  <table contenteditable="true" class="table table-bordered">

    <thead>
      <tr>
        <th>input</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <pre><%= @submission.failed_test_case_input %></pre>
        </td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th>output</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <pre><%= @submission.failed_test_case_result %></pre>
        </td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th>expected output</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <pre><%= @submission.failed_test_case_output %></pre>
        </td>
      </tr>
    </tbody>

  </table>
<% end %>
