<div class="row-fluid">
  <%= link_to root_path do %>
    <%= image_tag 'banner.jpg' %>
  <% end %>
  <% if current_user %>
    <ul style="list-style-type: none;">
      <% Settings.multi_language.languages.each_with_index do |lang,i| %>
        <li class="pull-right">
        <% if current_user.locale != i %>
          <%= link_to lang, user_user_path(id: current_user.id, user: {locale: i}), method: :put, class: "badge badge-success" %>
        <% else %>
          <span class="badge"><%= lang %></span>
        <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="span12" style="margin-left:0px;">
  <ul class="nav nav-pills" style="background-color: rgb(211, 231, 255);">
    <%= nav_item 'Home', root_path %>
    <% if current_user %>
      <%= nav_item 'Submissions', user_submissions_path %>
    <% end %>
    <%= nav_item "Scores Board", user_user_scores_path %>
    <li class="dropdown pull-right">
    <% if current_user %>
      <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= current_user.email %><strong class="caret"></strong></a>
      <ul class="dropdown-menu">
        <li>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
    </li>
  </ul>
</div>
